.background-register {
    background-color: #F5EFE4;
    background-image: url(../img/squiggles-transformed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    position: relative;
}

.arrow-container{
    position: absolute;
    left: 3%;
    top: 0%;
    text-decoration: none;
}

.previous-round{
    font-size: 50px;
    color: #2d2d2d;
    font-weight: 600;
}

.register-logo{
    margin-top: 1rem;
    width: 9rem;
}

.title-register {
    margin-top: 1rem;
    text-align: center;
    font-family: "Spicy Rice";
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
    margin-bottom: 0px;
    color: #2d2d2d;
    margin-top: 0px;
}

.second-title-register{
    text-align: start;
    font-family: "Spicy Rice";
    font-size: 2em;
    letter-spacing: 2px;
    color: #2d2d2d;
    margin-bottom: 1rem;
}

.top {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.form-control {
    font-family: "Montserrat";
    width: 21rem;
    height: 2.2rem;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    border-color: #F5EFE4;
    margin-bottom: 1rem;
    padding-left: 10px;
}

.boton{
    justify-content: center;
    display: grid;
    grid-row: 2;
    font-family: "Montserrat";
    place-items: center;
}

.register-form{
    display: flex;
    flex-direction: column;
}

.input-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.register-button {
    font-family: "Spicy Rice";
    font-size: 1.2rem;
    padding: 0.7rem 1.4rem;
    border-radius: 1rem;
    color: #FFF;
    background-color: #2D2D2D;
    margin-bottom: 30px;
}
