.background-login {
    background-color: #F5EFE4;
    background-image: url(../img/squiggles-transformed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    position: relative;
}

.top {
    text-align: center;
}

.title {
    text-align: center;
    font-family: "Spicy Rice";
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
    margin-bottom: 0px;
    color: #2d2d2d;
    margin-top: 0px;
}

.fabulash-logo {
    width: 9rem;
    margin-bottom: 30px;
}

.login{
    display: flex;
    flex-direction: column;
}

.second-title-login{
    font-family: "Spicy Rice";
    font-size: 2em;
    letter-spacing: 2px;
    color: #2d2d2d;
    margin-bottom: 1rem;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.boton {
    justify-content: center;
    display: grid;
    grid-row: 2;
    font-family: "Montserrat";
    place-items: center;
}

.submit-button {
    font-family: "Spicy Rice";
    font-size: 1.2rem;
    padding: 0.7rem 1.4rem;
    border-radius: 1rem;
    color: #FFF;
    background-color: #2D2D2D;
    margin-bottom: 30px;
}

.form-control {
    font-family: "Montserrat";
    width: 21rem;
    height: 2.2rem;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    border-color: #F5EFE4;
    margin-bottom: 1rem;
    padding-left: 10px;
}

.register-link {
    color: #545151;
    font-size: 0.8rem;
}

/*
body{
    height: 2100px;
    background-color: #F5EFE4;
    align-items: center;
    justify-content: center;
    background-image: url(../img/squiggles-transformed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.all{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top {
    text-align: center;
    margin-bottom: 100px;
}

.top h1 {
    font-family: "Spicy Rice";
    font-size: 8em;
    letter-spacing: 15px;
    margin-bottom: 0px;
    color: #2d2d2d;
    margin-top: 0px;
}

.top img {
    width: 370px;
    margin-top: 10px;
}


.login h2{
    font-family: "Spicy Rice";
    font-size: 5em;
    letter-spacing: 5px;
    color: #2d2d2d;
    margin-bottom: 35px;
    margin-left: 5%;
}

.login input {
    font-family: "Montserrat";
    width: 90%;
    height: 100px;
    font-size: 3em;
    border-radius: 30px;
    border-color: #F5EFE4;
    margin-bottom: 30px;
    padding-left: 15px;
}

.input {
    text-align: center;
}

.boton{
    justify-content: center;
    display: grid;
    grid-row: 2;
    font-family: "Montserrat";
    place-items: center;
}

body button {
    width: 300px;
    font-family: "Spicy Rice";
    font-size: 3em;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 40px;
    color: #FFF;
    background-color: #2D2D2D;
    margin-bottom: 30px;
    

}

.boton a {
    color: #545151;
    font-size: 2em;
}
*/
