body {
    width: 100%;
    font-family: "Spicy Rice";
    height: 100%;
    background-color:#2D2D2D;
    background-image: url(../img/start-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.text {
    text-align: center;
}

.text svg{
    width: 700px;
    height: 400px;
}

.images {
    display: grid;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.images .one{
    width:420px;
    margin-bottom: 100px;
}


.images .two{
    align-items: center;
    justify-content: center;
    width:420px;
    margin-top: 450px;
}

body button {
    font-family: "Spicy Rice";
    font-size: 60px;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 40px;
    color: #F5EFE4;
    background-color: #2D2D2D;
    margin-top: 220px;
    margin-bottom: 114px;
}

/* .button:hover {
    background-color: #FFC1D4;
    box-shadow: 0px 15px 20px rgba(244, 198, 13, 0.819);
    color: #2D2D2D;
    transform: translateY(-7px);
  } */


